OLLAMA_API_KEY=your_ollama_api_key_here
OLLAMA_HOST_CLOUD=https://ollama.com
OLLAMA_HOST_LOCAL=http://127.0.0.1:11434

MODEL_NAME_CLOUD=gpt-oss:120b-cloud
MODEL_NAME_LOCAL=qwen2.5-coder:3b
MODEL_NAME_EMBED=nomic-embed-text
